<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey" />
  <package id="cmder" />
  <package id="editorconfig.core" />
  <package id="firefox" />
  <package id="git" />
  <package id="gow" />
  <package id="keepass" />
  <package id="mysql" />
  <package id="nvm" />
  <package id="openssh" />
  <package id="php" />
  <package id="puppet" />
  <package id="python3" />
  <package id="ruby" />
  <package id="sublimetext3" />
  <package id="svn" />
  <package id="vagrant" />
  <package id="vim" />
  <package id="virtualbox" />
  <package id="vmwarevsphereclient" />
  <package id="yarn" />
</packages>
