<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ack" />
  <package id="cloc" />
  <package id="editorconfig.core" />
  <package id="firefox" />
  <package id="git" />
  <package id="gow" />
  <package id="keepass" />
  <package id="mysql" />
  <package id="miniconda3" packageParameters="'/AddToPath:1'" />
  <package id="nvm" />
  <package id="openssh" />
  <package id="php" />
  <package id="puppet" />
  <package id="ruby" />
  <package id="slack" />
  <package id="sql-server-management-studio" />
  <package id="sublimetext3" />
  <package id="svn" />
  <package id="vagrant" />
  <package id="vim" />
  <package id="virtualbox" />
  <package id="yarn" />
  <package id="visualstudio2019professional" />
</packages>
